<div class="header">
  <div class="header-message">
    <div class="title">
      <nav>
        <a routerLink="/"><h1>{{title}}</h1></a>
      </nav>
    </div>
    <div class="message">
      <h2>駆け出しエンジニア歓迎！！</h2>
    </div>
  </div>
  <div class="hedder-botton">
    <!-- ログインしていれば -->
    <!-- <div *ngIf=isLoggedIn> -->
      <nav>
        <a routerLink="/webapp-post">アプリ投稿</a>
      </nav>
      <nav>
        <a routerLink="/log-out">ログアウト</a>
      </nav>
      <nav>
        <a routerLink="/my-page">マイページ</a>
      </nav>
    <!-- ログインしていなければ -->
    <!-- <div ng-template> -->
      <nav>
        <a routerLink="/sign-up">新規登録</a>
      </nav>
      <nav>
        <a routerLink="/log-in">ログイン</a>
      </nav>
    <!-- ログインしていなければ -->
    </div>
</div>
<router-outlet></router-outlet>