<div class="post-board">
  <div class="webapp-name">
    <p>アプリ名</p>
    <input class="webapp-input">
  </div>
  <div class="webapp-description">
    <p>アプリ説明</p>
    <textarea class="webapp-input"></textarea>
  </div>
  <div class="webapp-language">
    <p>使用言語等</p>
    <input class="webapp-input">
  </div>
  <div class="webapp-name">
    <p>リンク</p>
    <input class="webapp-input">
  </div>
  <div class="webapp-free">
    <p>自由記述</p>
    <textarea class="webapp-input"></textarea>
  </div>
  <div class="webapp-changelog">
    <p>アプリ更新履歴</p>
    <input class="webapp-input">
  </div>
</div>