<form>
  <div class="post-board">
    <div class="app-image">
      <p>アプリ概要の分かる画像</p>
      <input type="file" class="webapp-input">
      <p>アプリ名</p>
      <input class="webapp-input">
      <p>アプリ説明</p>
      <textarea class="webapp-input"></textarea>
      <p>使用言語等</p>
      <input class="webapp-input" placeholder="使用した言語を全て記述しましょう！">
      <p>リンク</p>
      <input class="webapp-input" placeholder="実際にアプリを使ってもらうために必要です！">
      <p>自由記述</p>
      <textarea class="webapp-input" placeholder="工夫した点、苦労した点など自由に記述しましょう！"></textarea>
      <p>アプリ更新履歴(初回投稿時は1としてください)</p>
      <input class="webapp-input" value=1>
      <nav>
        <a routerLink="/webapp-list">保存</a>
      </nav>
    </div>
  </div>
</form>